# General
.vscode
_things
desktop.ini
.DS_Store

# Tests and benchmarks
tests/png
tests/pdf
tests/target
tarpaulin-report.html

# Rust
/target
bench/target
**/*.rs.bk

# Node
node_modules
package-lock.json

# Nix
/result
.direnv/
