[package]
name = "typst"
version = "0.2.0"
rust-version = "1.65"
authors = ["The Typst Project Developers"]
edition = "2021"
description = "A new markup-based typesetting system that is powerful and easy to learn."
homepage = "https://typst.app"
repository = "https://github.com/typst/typst"
readme = "README.md"
license = "Apache-2.0"
categories = ["compilers", "science"]
keywords = ["markup", "typesetting"]

[workspace]
members = ["cli", "docs", "library", "macros", "tests"]
default-members = ["cli"]

[lib]
doctest = false
bench = false

[dependencies]
typst-macros = { path = "macros" }
bitflags = "1"
bytemuck = "1"
comemo = "0.2.2"
ecow = "0.1"
flate2 = "1"
fontdb = "0.9"
if_chain = "1"
image = { version = "0.24", default-features = false, features = ["png", "jpeg", "gif"] }
log = "0.4"
miniz_oxide = "0.5"
once_cell = "1"
pdf-writer = "0.6"
pixglyph = "0.1"
regex = "1"
resvg = { version = "0.22", default-features = false }
roxmltree = "0.14"
rustybuzz = "0.5"
serde = { version = "1", features = ["derive"] }
siphasher = "0.3"
subsetter = "0.1.1"
svg2pdf = "0.4"
thin-vec = "0.2"
tiny-skia = "0.6.6"
ttf-parser = "0.18.1"
unicode-math-class = "0.1"
unicode-segmentation = "1"
unicode-xid = "0.2"
unscanny = "0.1"
usvg = { version = "0.22", default-features = false, features = ["text"] }
xmp-writer = "0.1"
indexmap = "1.9.3"

[profile.dev]
debug = 0

[profile.dev.package."*"]
opt-level = 2

[profile.release]
lto = "thin"
codegen-units = 1

[profile.release.package."typst-cli"]
strip = true
