[package]
name = "typst-macros"
version = "0.0.0"
authors = ["The Typst Project Developers"]
edition = "2021"

[lib]
proc-macro = true
test = false
doctest = false
bench = false

[dependencies]
heck = "0.4"
proc-macro2 = "1"
quote = "1"
syn = { version = "1", features = ["full", "extra-traits"] }
unscanny = "0.1"
