[package]
name = "typst-macros"
version = "0.1.0"
authors = ["The Typst Project Developers"]
edition = "2021"

[lib]
proc-macro = true
test = false
doctest = false
bench = false

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "1", features = ["full"] }
