name: Continuous integration
on: [push, pull_request, merge_group]

env:
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"
  PKG_CONFIG_i686-unknown-linux-gnu: /usr/bin/i686-linux-gnu-pkgconf

permissions:
  contents: read

jobs:
  # This allows us to have one branch protection rule for the full test matrix.
  # See: https://github.com/orgs/community/discussions/4324
  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: [test-matrix]
    if: always()
    steps:
      - name: Tests successful
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Tests failing
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

  test-matrix:
    name: Tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        bits: [64]
        include:
          - os: ubuntu-latest
            bits: 32
    runs-on: ${{ matrix.os }}
    steps:
      - if: matrix.bits == 32
        run: echo 'CARGO_BUILD_TARGET=i686-unknown-linux-gnu' >> $GITHUB_ENV

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Also include a list of recent commits, to regenerate missing live output.
          fetch-depth: 100
      - if: startsWith(matrix.os, 'ubuntu-') && matrix.bits == 32
        run: |
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt install -y gcc-multilib g++-multilib libssl-dev:i386 pkg-config:i386
      - uses: dtolnay/rust-toolchain@f941e41d00837ee686f9d4575861485df1f7a655 # Rust 1.91.0
        with:
          targets: ${{ matrix.bits == 32 && 'i686-unknown-linux-gnu' || '' }}
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: ${{ matrix.bits }}
      - run: cargo test --workspace --no-run
      - run: cargo test --workspace --no-fail-fast
        env:
          # Only generate annotations from one matrix configuration.
          USE_GITHUB_ANNOTATIONS: ${{ startsWith(matrix.os, 'ubuntu-') && matrix.bits == 64 }}

      - name: Generate missing live output and regenerate the test report
        if: always()
        run: cargo testit regen --rerun ${{ (job.status == 'success' && github.event_name == 'pull_request') && format('--base-revision={0}', github.event.pull_request.base.sha) || '' }}

      - name: Upload test store
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: tests-store-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.bits }}
          path: |
            tests/store/by-hash
            tests/store/render
            tests/store/pdftags
            tests/store/html
          retention-days: 3

      - name: Upload test report
        if: failure() || (success() && github.event_name == 'pull_request')
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: tests-report-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.bits }}
          path: tests/store/report.html
          retention-days: 3

  checks:
    name: Check clippy, formatting, and documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@f941e41d00837ee686f9d4575861485df1f7a655 # Rust 1.91.0
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo clippy --workspace --all-targets --all-features
      - run: cargo clippy --workspace --all-targets --no-default-features
      - run: cargo fmt --check --all
      - run: cargo doc --workspace --no-deps
      - run: git diff --exit-code

  min-version:
    name: Check minimum Rust version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@9710f9012180ecfb08dcfc878269be6dc6f1d80e # Rust 1.89.0
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo check --workspace

  fuzz:
    name: Check fuzzers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: nightly-2025-10-28
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo install --locked cargo-fuzz@0.12.0
      - run: cd tests/fuzz && cargo fuzz build --dev

  miri:
    name: Check unsafe code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          components: miri
          toolchain: nightly-2025-10-28
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo miri test -p typst-library test_miri
